.backgroundm{
    background-image: url('./backgroundsb.JPG');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.hover:hover {
    background-color: #b0b2b34e;
    border-color: #353637;
  }

.option{
    width: 100%;
    border-width: 0px;
}
.souris{
    cursor: pointer;
}